@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  font-size: 16px;
  --primary: #1c51cb;
  --secondary: #aba9bc;
  --tritary: #f1f1e6;
  --surface: #9155c6;
  --accent: #ffbf56;
  --sideNav: #464555;
  --onPrimary: #fff;
  --onSecondary: #fff;
  --onTritary: #464555;
  --onSurface: #000;
  --onAccent: #000;
  --borderRadius: 4px;
  --spacing: 20px;  
}

html, body {
  overflow-y: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-grid{
  display: grid;
  grid-template-areas: 
  "a a"
  "b c";
}

.headerNav{
  grid-area: a;
}

.sideNav{
  grid-area: b;
}

.content{
  grid-area: c;
}


/* special classes */
.headline {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2;
  letter-spacing: 1px;
}

.text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.25px;
}


/* Dashboard */
.dashboard-grid{
  grid-template-areas: 
  "a b"
  "a c"
  "d d"
  ;
}

.dashboard-area-a{
  grid-area: a;
}

.dashboard-area-a .p-card{
  height: 100%;
}

.dashboard-area-b{
  grid-area: b;
}

.dashboard-area-c{
  grid-area: c;
}

.dashboard-area-d{
  grid-area: d;
}

.card{
  background-color: var(--tritary);
  border-radius: var(--borderRadius);
  padding: var(--spacing);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Nav Style hover effect*/

aside ul li{
  text-decoration: none;
  position: relative;
  opacity: 0.9;
  width: fit-content;
}

aside ul li a:hover {
  opacity: 1;
  transition: all 100ms ease 0s;
}

aside ul li a:after {
  content: "";
  bottom: -4px;
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  background: var(--onPrimary);
  opacity: 0.6;
  transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
  width: 0;
}

aside ul li a:hover:after{
  width: 100%;
  opacity: 0.9; 
}

.side-nav-item.active {
  color: var(--onPrimary);
  background-color: var(--primary);
  padding: 0.5rem;
  border-bottom: var(--primary) solid 5px;
  border-top: var(--primary) solid 5px;
  border-spacing: 3px;
  border-radius: 75px;
}

.side-nav-item.active:hover {
  color: var(--onPrimary);
  background-color: var(--sideNav);
  padding: 0.5rem;
  border-spacing: 3px;
  border-bottom: var(--sideNav) solid 5px;
  border-top: var(--sideNav) solid 5px;
  border-spacing: 3px;
  border-radius: 75px;
}


.side-nav-item.active .side-nav-link {
  color: var(--onPrimary);
}


/* Table Style */
.p-treetable-tbody td{
  color: var(--onTritary);
  padding: 1rem;
}

.p-column-header-content  {
  text-align: start !important;
  padding: 1rem;
}

.p-treetable-thead{
  background-color: var(--primary);
  color: var(--onPrimary);
}

.p-treetable-tbody{
  background-color: var(--tritary);
  color: var(--onTritary);
}

.p-accordion-toggle-icon {
  margin-right: 0.5rem;
}

.p-accordion-tab{
  margin-bottom: 5px;
}

tr:not([data-pc-section="headerrow"]){
  opacity: 0.9;
}

tr:not([data-pc-section="headerrow"]):hover {
  opacity: 1;
  background: #ddddd3;
}


@media screen and (max-width: 1200px){
  .responsiveDisplayNone{
    display: none;
  }

  .side-nav-item.active {
    color: var(--onPrimary);
    background-color: var(--primary);
    padding: 0.5rem;
    border: var(--primary) solid 5px;
    border-radius: 150px;
  }

  .responsivePersonalDataClass{
    grid-template-columns: 1fr;
  }

  .responsivePersonalDataClass form{
    margin-bottom: 10vh;
  }
}